<div class="page">

  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Tier</th>
      <th>Stats</th>
      <th class="hidden-xs">Subclass</th>
      <th class="hidden-sm hidden-xs">Todo List</th>
    </thead>
    <tbody>
    <tr *ngFor="let char of chars" char [char]="char" >
    </tr>

    </tbody>
  </table>
</div>
