<div class="page">
  <grid #grid [cols]="cols" [sortColumn]="cols[0]" showModalLinks="false" ></grid>
  <div class="alert alert-warning" *ngIf="grid.count()==0">
    <b>You don't have any favorites right now. To mark a favorite click on the
    icon of an item in Weapons or Armor
    </b>
  </div>
</div>