<div class="page">
    <div class="form-inline" role="toolbar">
        <div class="form-group">
            <div class="input-group" id="txtSearch">
                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input #searchTxt type="text" class="form-control" placeholder="Filter by name/perk/note"
                       name="text" [(ngModel)]="filter.searchText">
            </div>
        </div>
        <toggles #marks title2='<i class="fa fa-tags" aria-hidden="true"></i><span class="hidden-xs">Tags</span>' [choices]="markChoices" (change)="filterChanged()"></toggles>
        <toggles #types title2='<i class="ra ra-eye-shield" aria-hidden="true"></i><span class="hidden-xs"> Type</i>' [choices]="typeChoices" (change)="filterChanged()"></toggles>
        <toggles #types title2='<i class="ra ra-helmet"></i><span class="hidden-xs"> Class</span>' [choices]="classAllowedChoices" (change)="filterChanged()"></toggles>
        <toggles #owner title2='<i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs"> Owner</span>' [choices]="filter.owner" (change)="filterChanged()"></toggles>
        <toggles class="form-control-static" #rarity title2='<i class="fa fa-balance-scale" aria-hidden="true"></i><span class="hidden-xs"> Rarity</span>' [choices]="filter.rarity" (change)="filterChanged()"></toggles>

      <div class="btn-group" dropdown>
          <button type="button" class="btn btn-default padded-bottom" dropdownToggle>
            <i class="fa fa-plus-square" aria-hidden="true"></i><span class="hidden-xs"> Show</span> <span class="caret"></span>
          </button>
          <ul dropdownMenu>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="grid.showCount=20">
                <ng-container *ngIf="grid.showCount===20">
                  <i class="fa fa-check"></i>
                </ng-container>
                20 rows
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="grid.showCount=50">
                <ng-container *ngIf="grid.showCount===50">
                  <i class="fa fa-check"></i>
                </ng-container>
                50 rows
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="grid.showCount=100">
                <ng-container *ngIf="grid.showCount===100">
                  <i class="fa fa-check"></i>
                </ng-container>
                100 rows
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="grid.showCount=-1">
                <ng-container *ngIf="grid.showCount===-1">
                  <i class="fa fa-check"></i>
                </ng-container>
                All rows
              </a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-default hidden-xs padded-bottom"
                [disabled]="!grid.hasCompareItems && !filter.onlyShowCompare"
                (click)="toggleCompare()">
          <i *ngIf="filter.onlyShowCompare===true" class="fa fa-check" aria-hidden="true"></i>
          Compare Selected
        </button>
        <button type="button" class="btn btn-default padded-bottom" (click)="showFilter()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-warning btn-sm hidden-xs btn-outline padded-bottom" title="Clear all filters" *ngIf="isFiltering()===true" (click)="resetFilter()">
            <i class="fa fa-times-circle" aria-hidden="true"></i> Reset
        </button>
        <p class="form-control-static hidden-xs">&emsp;
            <b>{{grid.count()}} / {{grid.totalCount()}}</b>
        </p>
    </div>
    <grid #grid [cols]="cols" [sortColumn]="cols[0]"></grid>
    <div class="alert alert-warning" *ngIf="grid.allHidden()===true">
        <b>All of your items are hidden by a filter at the moment. Would you like to <a href="javascript:void(0)" (click)="resetFilter()">clear the filter</a>?</b>
    </div>
</div>

<div class="modal fade" bsModal #filterModal="bs-modal" [config]="{}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="filterModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Advanced
                    <button type="button" class="btn btn-primary btn-sm" title="Set locks by tags" (click)="fixArmorLocks()">
                      <i class="fa fa-lock" aria-hidden="true"></i> Set
                    </button>
                    <button type="button" class="btn btn-info btn-sm" title="Download CSV" (click)="downloadCsv()">
                        <i class="fa fa-table" aria-hidden="true"></i> CSV
                    </button>

                    <button type="button" class="btn btn-warning btn-sm" *ngIf="isFiltering()===true"
                            title="Clear all filters" (click)="resetFilter()">
                        <i class="fa fa-times-circle" aria-hidden="true"></i> Reset
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">


                        <div class="form-group">
                            <label>Stat Split</label>
                            <select class="form-control" [(ngModel)]="filter.statSplit" (change)="filterChanged()">
                                <option value="null">All</option>
                                <option value="ID">ID - Int / Dis</option>
                                <option value="IS">IS - Int / Str</option>
                                <option value="DS">DS - Dis / Str</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Leveled</label>
                            <select class="form-control" [(ngModel)]="filter.leveled" (change)="filterChanged()">
                                <option value="null">All</option>
                                <option value="true">Complete</option>
                                <option value="false">Needs XP</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Equipped</label>
                            <select class="form-control" [(ngModel)]="filter.equipped" (change)="filterChanged()">
                                <option value="null">All</option>
                                <option value="true">Equipped</option>
                                <option value="false">Not Equipped</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Damage Type</label>
                            <select class="form-control" [(ngModel)]="filter.dmgType" (change)="filterChanged()">
                                <option value="null">All</option>
                                <option [value]="DAMAGETYPE.Arc">Arc</option>
                                <option [value]="DAMAGETYPE.Solar">Solar</option>
                                <option [value]="DAMAGETYPE.Void">Void</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-2 col-xs-6" style="padding-left: 0px">
                                <label>Min Quality %</label>
                                <input type="number" class="form-control" placeholder="Min %"
                                       [(ngModel)]="filter.minQual" (change)="filterChanged()">
                            </div>
                            <div class="col-lg-2 col-xs-6">
                                <label>Max Quality %</label>
                                <input type="number" class="form-control" placeholder="Max %"
                                       [(ngModel)]="filter.maxQual" (change)="filterChanged()">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-2 col-xs-6" style="padding-left: 0px">
                                <label>Min Light</label>
                                <input type="number" class="form-control" placeholder="Min Light"
                                       [(ngModel)]="filter.minLight" (change)="filterChanged()">
                            </div>
                            <div class="col-lg-2 col-xs-6">
                                <label>Max Light</label>
                                <input type="number" class="form-control" placeholder="Max Light"
                                       [(ngModel)]="filter.maxLight" (change)="filterChanged()">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<item-modal #showModal [modalFields]="modalFields"></item-modal>

