<div class="page">

    <div class="">

        <p>This is a tool that I've built on top of Bungie's API.
            <mark>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS"
                   target="_blank">
                    If you really enjoy this tool and want to help support its development, you can donate via PayPal</a>
            </mark>
            . If you have any suggestions, questions, or comments you can post on
            <a href="http://www.reddit.com/r/destinychecklistnet/" target="_blank">/r/destinychecklistnet</a>
            or <a href="http://www.reddit.com/message/compose/?to=dweezil22" target="_blank">message me via Reddit</a>.
            I have opened sourced (but not remotely prettified) the code to this, you can see it <a href="https://bitbucket.org/dcaslin/dcl-gear-mgr" target="_blank">here</a>.
            My main goals are:
        </p>
        <ul>
            <li>Offer a clean spreadsheet view of your gear</li>
            <li>Allow tagging of gear so when you're aware from your console you can manage things
            </li>
            <li>Show as much "hidden" data as cleanly possible (things like Aim Assist)</li>
            <li>Show Weapon and Armor quality. Thanks to <a href="https://www.destinyitemmanager.com">DIM</a> for the logic for armor quality and /u/48klocs for <a href="https://www.reddit.com/r/DestinyTheGame/comments/5p1o02/percolator_for_all_your_weapon_selection_needs/">Percolator</a></li>
        </ul>

    </div>

</div>
