ul.concise{
  margin-bottom: 1px !important;
}

li.concise{
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

div.bottom{
  border-bottom: 1px solid rgb(221,221,221);
}

.activated {
  font-weight: bold;
}


.item-image{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 72px;
  height: 72px;
  margin-right: 6px;
  background-size: cover;
  border: 1px solid rgb(221,221,221);
  transition: 0.25s;
}

.breakEasy{
  word-wrap: break-word;
  //word-break: break-all;
}

.breakHard{
  white-space:nowrap;
}

.fav{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 0 2px !important;
  background: rgba(255, 255, 255, 0.9);
  line-height: 13px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 700;
}

.notes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 0 2px !important;
  background: rgba(255, 255, 255, 0.9);
  line-height: 13px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 700;
}

.primary-stat {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 0 2px !important;
  background: rgba(255, 255, 255, 0.9);
  line-height: 13px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 700;
}

.Void{
  background: #b184c5;
}

.Solar{
  background: #f2721b;
}

.Arc{
  background: #85c5ec;
}
