
<div class="modal fade" bsModal #showModal="bs-modal" [config]="{}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div *ngIf="shown!=null" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="showModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{shown.name}} <small>{{shown.desc}}</small></h4>
      </div>
      <div class="modal-body">
        <tabset type="pills">

          <tab heading="Perks">
            <div class="padded">
              <p class="bg-info padded" *ngIf="shown.steps!=null">
                {{shown.steps.pctComplete()}}% leveled &emsp; {{shown.steps.currentXP|number}} / {{shown.steps.totalXP|number}} XP
              </p>
              <div *ngFor="let group of shown.steps.cols; let last = last" [class.bottom]="!last">
                <ng-container *ngFor="let step of group.steps; let stepLast = last">
                        <span [popover]="step.desc"
                              triggers="focus"
                              placement="right">
                          <a [class.activated]="step.activated"
                             [class.text-muted]="!step.activated" href="javascript:void(0)">{{step.name}}</a>
                        </span>
                  <ng-container *ngIf="!stepLast">|</ng-container>
                </ng-container>
              </div>
            </div>
          </tab>


          <tab heading="Stats">
            <div class="padded">
              <div class="row">
                <div class="col-xs-6">
                  <dl>
                    <ng-container *ngFor="let field of modalFields; let i = index;">
                      <ng-container *ngIf="shown[field]!=null && i<modalFields.length/2">
                        <dt>{{field|capitalize}}</dt>
                        <dd>{{shown[field]}}</dd>
                      </ng-container>
                    </ng-container>
                  </dl>
                </div>
                <div class="col-xs-6">
                  <dl>
                    <ng-container *ngFor="let field of modalFields; let i = index;">
                      <ng-container *ngIf="shown[field]!=null && i>=modalFields.length/2">
                        <dt>{{field|capitalize}}</dt>
                        <dd>{{shown[field]}}</dd>
                      </ng-container>
                    </ng-container>
                  </dl>
                </div>
              </div>
            </div>
          </tab>

        </tabset>
      </div>
    </div>
  </div>
</div>
