<div class="page">

    <p class="form-control-static hidden-xs">&emsp;
        <b>{{grid.count()}} / {{grid.totalCount()}}</b>
    </p>
  <grid #grid [cols]="cols" [sortColumn]="cols[1]" showModalLinks="false" allowFavs="false"></grid>
  <div class="alert alert-warning" *ngIf="grid.count()==0">
    <b>You don't have any engrams right now.
    </b>
  </div>
</div>
