.nav li {
    display:table-cell !important;
}

.mobileTabs {
  margin-bottom:5px;
}

.show-ad, .hidden-ad {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 1360px) {
  .hidden-ad {
    display: none !important;
  }

  .show-ad {
    width: 100%;
  }
}

@media (min-width: 1360px) {
  .hidden-ad {
    float: left;
    width: 16.66666667%;
  }

  .show-ad {
    float: left;
    width: 83.33333333%;
  }

}
