<div class="page">
  <tabset #ts>
    <tab *ngFor="let char of chars" [heading]="char.label">
      <br/>

      <div class="row">

        <div *ngFor="let bty of char.bounties" class="col-lg-3 col-md-4 col-sm-6">

          <div class="panel panel-default ">
            <div class="panel-heading">
              <h3 class="panel-title">{{bty.name}} - {{bty.type}}
              </h3>
            </div>
            <div class="panel-body">
              <span *ngIf="bty.forSale" class="label label-info">For Sale</span>
              <progressbar *ngIf="!bty.forSale" [animate]="false" [value]="bty.pct"><b>{{bty.pct}}%</b></progressbar>
              <p>{{bty.desc}}</p>
              <ul>
                <li *ngFor="let obj of bty.objs">
                  {{obj.current}} / {{obj.total}}
                  {{obj.desc}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </tab>
  </tabset>
</div>
