
<div class="btn-group padded-bottom" dropdown>
  <button type="button" class="btn btn-default" dropdownToggle>
    <span [innerHTML]="title2"></span> <span class="caret"></span>
  </button>
  <ul dropdownMenu>
    <li role="menuitem">
      <a class="dropdown-item" href="javascript:void(0)" (click)="selectAll()">
        Select all
      </a>
    </li>
    <ng-container  *ngFor="let choice of choices">
      <li role="menuitem">
        <a class="dropdown-item" href="javascript:void(0)" (click)="exclusiveSelect(choice)">
          <button
            (click)="select($event, choice); false"
            class="btn btn-xs"
            [class.btn-danger]="!choice.getValue()"
            [class.btn-success]="choice.getValue()"
          >
            <span *ngIf="!choice.getValue()">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </span>
            <span *ngIf="choice.getValue()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>

          </button>
          {{choice.display}}
        </a>
      </li>
      <li role="menuitem" *ngFor="let sub of choice.children">
        <a class="dropdown-item" href="javascript:void(0)" (click)="exclusiveSelect(sub)">
          <small>
          &emsp;
          <button
            (click)="select($event, sub); false"
            class="btn btn-xs"
            [class.btn-danger]="!sub.getValue()"
            [class.btn-success]="sub.getValue()"
          >
            <span *ngIf="!sub.getValue()">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </span>
            <span *ngIf="sub.getValue()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
          </button>
           {{sub.display}}
          </small>
        </a>
      </li>

    </ng-container>
  </ul>
</div>
