.page {
  animation-duration: 1500ms;
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

.textCenter {
    text-align: center;
}


.button-wrapper .btn {
    margin-bottom:5px;
}


.padded-bottom{
    margin-bottom:5px;
}

.icon-blocks {
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    -ms-border-radius: 0.15em;
    -o-border-radius: 0.15em;
    border-radius: 0.15em;
    background: #1c94c6;
    color: #fff;
    display: block;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.2em;
    /*position: relative;*/
    text-align: center;
    width: 1.6em;
}

.icon-blocks.icon-blocks--facebook {
    background: #3b5998;
}

.icon-blocks.icon-blocks--twitter {
    background: #00aced;
}

.icon-blocks.icon-blocks--paypal {
    background-color: #ff9a00;
}

.progress-bar{
  min-width: 2em !important;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}